<div class="card-container">
  <div class="logo-content">
    <div class="logo"><mat-icon>payments</mat-icon></div>
    <div class="content">
      Welcome to Expense Tracker
    </div>
  </div>
  <div class="button-container">
    <!-- <div > -->
      <button class="button-1" (click)="handleGoogleLogin()"><mat-icon svgIcon="google"></mat-icon> Continue with Google</button>
    <!-- </div> -->
    <!-- <div class="button-2"> -->
      <button class="button-2"(click)="handleEmailLogin()">Continue with email</button>
    <!-- </div> -->
  </div>
</div>
